/* Réinitialisation de mes styles */ 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    padding: 10px;
}

/* Ajout des styles globaux */ 

.card-title{
    color: #99236C;
}

img:hover {
    cursor: pointer;
}

.button {
    background-color: #FFD5E9;
    border-style: inherit;
    color: #99236C;
}

.button:hover {
    background-color: #99236C;
    color: #FFD5E9;
    transition: 1s ;

}

.aboutUs,
.sideEffects,
.support 
{
    margin-top: 20px;
    padding: 10px;
}

/* Création des styles de la navbar */

nav {
    display: flex;
    background-color: #FFD5E9;   
}

.nav-link {
    
    color: black;
    
}

.nav-link:hover {
    color: #99236C;
    font-weight: bold;
}

.navbar-toggler {
    float: inline-end;
}

/* Création des styles pour le carousel */ 

.mainPage {
    background-color: #FFD5E9;
    width: 100%;
}

.carousel-item
h5 {
    color: black;
    font-weight: bold;
}

.carousel-item
img
{
    opacity: 80%;
}
/* Création des styles pour ma section aboutUs et sideEffects */ 

.aboutUs,
.sideEffects
{
    display: flex;
    
}

.aboutUs > .card,
.sideEffects > .card {
    background-color: #FFF5F5;
}

.card-body
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    gap: 10px;
}

/* Création des styles pour ma section Support */ 

.support {
    background-color: #FFD5E9;
    width: 100%;
    gap : 5px;
}



/* Ajout des styles pour mobile */


@media screen and (max-width: 576px) {
    
}

/* Ajout des styles pour tablette et desktop */

@media screen and (min-width: 768px) {
    .navbar-toggler {
        float: inline-end;
    }

    .aboutUs
    .img-fluid {
        height: 100%;
    }

    .support {
        gap: 3rem;
    }

}

@media screen and (min-width: 992px) {
    .container-sm-lg {
        display: flex;
    }

    .navbar-nav {
        gap: 6px;
    }

    .aboutUs,
    .sideEffects {
        justify-content: center;
        padding: 0;
    }

    .aboutUs > .card,
    .sideEffects > .card {
        width: 80%;
    }

}